body {
  font-family: Ubuntu, sans-serif;
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/520/3/desktop-wallpaper-noche-estrellada-starry-night-van-gogh.jpg");
  background-size: contein;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
}

input[type="text"],
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 5px;
}

button {
  padding: 10px 10px;
  background-color: #f95951;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:not(:last-child) {
  margin-right: 5px;
}

.output {
  margin-top: 20px;
}

textarea[readonly] {
  background-color: #cce2dd;
  cursor: not-allowed;
}
